.titulo {
  font-size: 50px;
  /* margin-bottom: 500px;
  border-radius: 12px; */
  font-weight: bold;
  /* background: #fafafa10;
  backdrop-filter: blur(0.1rem); */
  /* left: 500px; */
}

.empresa {
  filter: blur(2px);
  /* filter: brightness(0.7); */
}

.titulo-2 {
  font-size: 25px;
  font-weight: bold;
  /* background: #fafafa10;
  backdrop-filter: blur(0.1rem); */
  /* margin-left: 378px; */
  /* border-radius: 5px; */
}

.boton {
  background: #1c2441;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  font-size: 25px;
}

.nosotros {
  padding-bottom: 10px;
  line-height: 1em;
  font-weight: 500;
  font-size: 38px;
}

.parrafo {
  color: #666;
  justify-content: center;
  font-size: 20px;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: 500;
  width: 50%;
  text-align: justify;
}

.lupa {
  height: 320px;
  width: auto;
  margin-top: 900px;
  margin-left: 1410px;
}

.contenedor-principal {
  background: #1c2441;
  height: 700px;
  margin-top: 120px;
  width: 100%;
}

.servicios {
  margin-top: 30px;
  font-weight: 500;
  font-size: 40px;
  margin-left: 220px;
  color: white;
  text-align: center;
}

.texto {
  width: 250px;
  text-align: justify;
  color: white;

  position: relative;
  margin-left: 400px;
  margin-top: 50px;
}

.persona {
  height: 200px;
  margin-left: 500px;
  position: absolute;
  margin-top: 180px;
}

.titulo-head {
  margin-left: 510px;
  margin-top: 430px;
  font-weight: 500px;
  color: white;
  font-size: 20px;
}

.imagen-persona {
  margin-top: 100px;
}

.persona2 {
  height: 200px;
  margin-left: 400px;
  position: absolute;
  margin-top: 95px;
}

.titulo2 {
  color: white;
  margin-top: 340px;
  font-weight: 500px;
  color: white;
  font-size: 20px;
  margin-left: 390px;
}

.parrafo2 {
  width: 250px;
  text-align: justify;
  color: white;
  position: relative;
  margin-left: 350px;
  margin-top: 10px;
}

.contenedor1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.persona3 {
  height: 200px;
  margin-left: 540px;
  position: absolute;
  margin-top: 95px;
}

.titulo3 {
  color: white;
  margin-top: 330px;
  font-weight: 500px;
  color: white;
  font-size: 20px;
  margin-left: 540px;
}

.parrafo3 {
  width: 250px;
  text-align: justify;
  color: white;
  position: relative;
  margin-left: 540px;
  margin-top: 25px;
}

.persona4 {
  height: 200px;
  margin-left: 710px;
  position: absolute;
  margin-top: 90px;
}

.titulo4 {
  color: white;
  margin-top: 340px;
  font-weight: 500px;
  color: white;
  font-size: 20px;
  margin-left: 720px;
}

.texto4 {
  width: 250px;
  text-align: justify;
  color: white;
  position: relative;
  margin-left: 700px;
  margin-bottom: 20px;
}

.segundo {
  position: relative;
}

.segundo .info {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(242, 236, 236, 0.8);
  padding: 20px;
  text-align: center;
  height: 380px;
  width: 450px;
  border-radius: 50px;
  font-weight: bold;
}

.titulo-p {
  font-size: 25px;
}

.p {
  font-size: 18px;
  margin-top: 20px;
  padding: 5px;
  font-weight: bold;
}

.redes-sociales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-left: 60px;
}

.redes-sociales div {
  width: 33.33%;
  text-align: center;
  margin-top: 78px;
}

.enlace {
  font-size: 40px;
}

.mapa {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  padding: 20px;
  text-align: center;
  height: 420px;
  width: 50%;
  flex-grow: 1;
}

.mapa-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contenedor-total {
  margin: 0 auto;
}

/* HomeEmpresa.css */
.home-empresa {
  position: relative;
  height: 100vh; /* Establece la altura del contenedor principal al 100% del viewport */
}

@media (min-width: 1200px) {
  .titulo {
    font-size: 3rem;
  }
  .titulo-2 {
    font-size: 2rem;
  }
  .boton {
    font-size: 1.5rem;
  }
  .contenedor-total {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .titulo {
    font-size: 24px;
  }

  .empresa {
    height: 400px;
  }
  .contenedor-total {
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .titulo {
    text-align: center;
  }
  .titulo2 {
    text-align: center;
  }
  nav {
    position: static;
  }
  .empresa
    .parrafo
    .boton
    .nosotros
    .lupa
    .contenedor-principal
    .servicios
    .texto
    .persona
    .titulo-head
    .caja,
  .principal,
  .mapa-contenido,
  .mapa {
    width: auto;
  }

  .persona1 {
    width: 50%;
  }
  .contenedor1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .persona {
    width: 100%;
    max-width: 300px;
  }
  .contenedor-total {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .contenedor-principal {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
  }
  .persona {
    margin-left: auto;
    margin-right: auto;
    line-height: 0;
  }
  .titulo {
    font-size: 24px;
    top: 20%;
  }

  .titulo-2 {
    font-size: 18px;
    bottom: 30%;
  }

  .boton {
    font-size: 14px;
    top: 40%;
  }

  .empresa {
    height: 400px;
  }

  .nosotros {
    top: 80%;
    font-size: 18px;
  }

  .parrafo {
    font-size: 14px;
    top: 95%;
  }

  .lupa {
    width: 20px;
  }

  .servicios {
    font-size: 18px;
    top: 120%;
  }

  .contenedor1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 30px;
  }

  .persona1,
  .persona2,
  .persona3,
  .persona4 {
    margin-bottom: 30px;
  }

  .titulo-head,
  .titulo2,
  .titulo3 {
    font-size: 16px;
  }

  .texto,
  .parrafo2,
  .parrafo3 {
    font-size: 14px;
  }
  .contenedor-total {
    margin: 0 auto;
  }
}
