* {
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}

footer {
  background: #1c2441;
  text-align: center;
  justify-content: center;
  margin-top: 600px;
  height: 130px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
